<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Blockchain </title>
</head>
<body>
	<form method="POST">
		<div>
			<label>sender </label>	
			<input name=sender placeholder="sender">
		</div>
		<br/>
		<div>
			<label>recipient </label>	
			<input name=recipient placeholder="recipient">
		</div>
		<br/>
		<div>
			<label>amount </label>	
			<input name=amount placeholder="amount">
		</div>
		<br/>
		<input type="submit" class="btn btn-default" value="Thêm">
	</form>
</body>
</html>