<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <p>/transactions/new: dùng để tạo một transaction mới đến một Block.</p>
    <p>/mine: dùng để báo cho server của chúng ta bất đầu tiến hành 'đào' một Block./p>
    <p>/chain: dùng để trả về toàn bộ Blockchain. </p>
    <p>/nodes/register: để chấp nhận danh sách các node mới dưới dạng các URL.</p>
    <p>/nodes/resolve: để triển khai POW, qua đó giải quyết các xung đột(conflict).</p>
</body>
</html>