<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API blockchain</title>
</head>
<body>
    <p>Các API: </p>
    <p><strong>/transactions/new</strong>: dùng để tạo một transaction mới đến một Block.</p>
    <p><strong>/mine</strong>: dùng để báo cho server của chúng ta bất đầu tiến hành 'đào' một Block.</p>
    <p><strong>/chain</strong>: dùng để trả về toàn bộ Blockchain. </p>
    <p><strong>/nodes/register</strong>: để chấp nhận danh sách các node mới dưới dạng các URL.</p>
    <p><strong>/nodes/resolve</strong>: để triển khai POW, qua đó giải quyết các xung đột(conflict).</p>
</body>
</html>